<!-- <!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>

<h1>Bike Availability</h1>

<table id="customers">
    <tr>
        <th>BikeName</th>
        <th>Price</th>
        <th>Available</th>
      
      </tr>
      <tr>
        <td>Royal Enfield Classic 350</td>
        <td>Rs. 1.84 - 2.15 Lakh</td>
        <td>yes</td>
        
    
      </tr>
      <tr>
        <td>Yamaha R15 V4</td>
        <td>Rs. 1.45 - 1.48 Lakh</td>
        <td>No</td>
    
      </tr>
      <tr>
      <td>Yamaha YZF R15 V3</td>
      <td>Rs. 1.57 - 1.59 Lakh</td>
      <td>Yes</td>
    </tr>
    <tr>
        <td>KTM 200 Duke.</td>
        <td>Rs. 1.45 - 1.59 Lakh</td>
        <td>Yes</td>
      </tr>
  
</table>

</body>
</html> -->


<!DOCTYPE html>
<html style="width: 1366px;height: 720px;">
<body background="assets\backgroundcarbike.jpg"> 
<table class="center" > 

   
<div >
  <h1>Bike Availability</h1>

<table id="customers">
    <tr>
        <th>BikeName</th>
        <th>Price</th>
        <th>Available</th>
      
      </tr>
      <tr>
        <td>Royal Enfield Classic 350</td>
        <td>Rs. 1.84 - 2.15 Lakh</td>
        <td>yes</td>
        
    
      </tr>
      <tr>
        <td>Yamaha R15 V4</td>
        <td>Rs. 1.45 - 1.48 Lakh</td>
        <td>No</td>
    
      </tr>
      <tr>
      <td>Yamaha YZF R15 V3</td>
      <td>Rs. 1.57 - 1.59 Lakh</td>
      <td>Yes</td>
    </tr>
    <tr>
        <td>KTM 200 Duke.</td>
        <td>Rs. 1.45 - 1.59 Lakh</td>
        <td>Yes</td>
      </tr>
  
</table>
</div>
</table>
</body>
</html>