<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 350px;
  right: 770px;
  background-color: black;
  color: white;
  padding-left:300px;
  padding-right: 60px;
}
</style>
</head>
<body class=bg>
  <!-- <nav><app-header></app-header></nav> -->

<div class="container">
  <!-- <img src="assets\img\Homeimage.jpeg" alt="Nature" style="width:100%;"> -->
  <div class="text-block">
    <h1>DriveIt</h1>
    <p>Find Your Perfect Vehicle</p>
  </div>
</div>

</body>
</html>