<!DOCTYPE html>
<html>
<head>
<title>Contact Us</title></head>
<body background="assets\img\Black_BMW_Car_HD_Photo_Background.jpg" class="bg-size">
<!-- <h1 style="text-align:center;font-family:segoeuisemibold;color:darkslateblue;font-weight:bold;">DriveIt</h1>
<div style="background-color:ghostwhite;padding:10px;">
<img src="Img/carLogo.jpg" width="340" height="120">
</div>
<div style="background-color:paleturquoise;color:rebeccapurple;padding:1px;">
<p style="text-align:right"> <a href="login.html">LOGIN</a> | <a href="sign_up.html">SIGN UP</a> | <a href="manage_booking.html">MANAGE BOOKING</a> | <a href="popular_locations.html">POPULAR LOCATIONS</a></p>
</div>
<hr>
<br> -->
<h2 style="color:red;text-align:center;">CONTACT US</h2>
<h3 style="text-align:center;">Our team is here to help, by email or by phone.</h3>
<br>
<h3 style="text-align:center;">EMAIL US</h3>
<h4 style="text-align:center;">Before you book: <b>DriveIt@gmail.com</b><br>
If you have already made a booking, click <a routerLinkActive = "active" routerLink="/Login">here</a></h4>
<br>
<h3 style="text-align:center;">CALL US</h3>
<h4 style="text-align:center;">Contact number:
9876543210<br>
Opening Hours(GMT)<br><pre>
Monday-Friday          14 hours
Saturday               12 hours
Sunday                 12 hours
</pre></h4>
<!-- <div style="background-color:paleturquoise;padding:10px;text-align:left;color:rebeccapurple;font-family:columbia;">
<a href="manage_booking.html">View Booking</a>  | Contact Us
</div>
<div style="background-color:skyblue;padding:30px;text-align:center;color:darkslateblue;font-family:century;">
<b>CarsRental</b>.com<br />
@Copyright 2019 CarsRental.com, Delhi
</div> -->
</body>
</html>
